.overflow{
  overflow-x:visible ;
}
.container_bank_transactions{
  padding: 30px 20px 20px 20px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.inform{
  padding: 40px 9.5% 0 8%;
  color: red;
  display:flex;
  justify-content: flex-end
}

.container_transactions {
  padding: 10px 8% 0 8%;
  display: flex;
  justify-content: center;
  gap: 40px;
  transition: 1s all ease;
}

.container_balance_total {
  width: 30%;
  .balance_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 18px;
    border: 1px solid #e7ecf0;
    // gap: 10px;
    .currency_text{
      display:flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      img{
        height: 70px;
      }
    }

    .text_balance_total{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      // .text{
      //   color: #7B8998;
      // }
      // .amount{
      //   font-size: 30px;
      //   // font-size: 2em;
      //   font-weight: bold;
      // }
    }

    .add_transactions{
      height: 50px;
      border: none;
      width: 30%;
      background: #198754;
      border-radius: 10px;
      font-size: 16px;
      color: #fff;
    }

    .add_transactions:hover{
      background-color: #09502f;
      transition: 0.5s all ease;
    }
  }

  .upload_file{
    // margin-top: 15px;
    // padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    label{
      font-weight: 500;
    }

    input{
      width: 100%;
      border-radius: 12px;
      border: 1px solid #e7ecf0;
    }
  }
}

.upload{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: justify;

  span{
    font-size: 16px;
    font-weight: 500;
  }
}

.text{
  color: #7B8998;
}
.amount{
  font-size: 30px;
  // font-size: 2em;
  font-weight: bold;
}

.transactions {
  width: 70%;
  background-color: #fff;
  border-radius: 18px;
  border: 1px solid #e7ecf0;
}


@media only screen and (max-width: 1300px) {
  .container_transactions {
    // padding-top: 80px;
    padding: 50px 3% 0 3%;
    transition: 1s all ease;

    .balance_total {
      padding: 20px;
    }
  }

  .text{
    color: #7B8998;
  }
  .amount{
    font-size: 25px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 990px) {
  .container_transactions{
    flex-direction: column;
    padding: 20px 10px 0 10px;
    gap: 8px;

    .container_balance_total, .transactions {
      width: 100%;
    }
  }
}


@media only screen and (max-width: 380px) {
  *{
    transition: 1s all ease;
  }
  .upload{
    display: flex;
    flex-direction: column;
    gap: 5px;

    button{
      width: 100%;
    }
  }

  .container_balance_total .balance_total {
    flex-direction: column;
    gap: 15px;
    .currency_text img{
      height: 50px;
    }

    .add_transactions{
      width: 100%;
    }
  }
}
