.container_exchange_rate{
  padding: 70px 8% 0 8%;
  display: flex;
  justify-content: center;
}
.transactions {
  width: 70%;
  background-color: #fff;
  border-radius: 18px;
  border: 1px solid #e7ecf0;
  padding: 20px;
}
